@using YemekSepeti.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<center>
    <a href="menu">    <img height="300" src="https://images.squarespace-cdn.com/content/v1/5629cdc2e4b01720bea6e856/1445924797027-NP5AAZMA3GR5A8XRAXEU/ke17ZwdGBToddI8pDm48kBF4YJANpA1mUcqDDtKvJTV7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UbrchwngMNJdvzB3V4Gurz3OSHnhso5V-6Ln2zsO7fHBm4bjm9DAHF2kOsIZRJKXnA/Menu.png" /></a>
</center>
<br />
<hr />
<div class="container">
    <h2>Siparişler</h2>
    <p>Sipariş listesi aşağıdadır.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Kullanıcı Adres</th>
                <th>Ürün Adı </th>
                <th>Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["siparisler"] as List<Siparis>)
            {
                <tr>
                    <td>@item.KullaniciId</td>
                    <td>@item.Kullanici_adres</td>
                    <td>@item.UrunAdi</td>
                    <td>@item.Fiyat</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<center>
    <a class="btn btn-danger" href="/restorant/cikisyap">Cikis yap</a>
</center>