
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <a href="menu">Menu İşlemleri </a>
</center>
<br />
<div class="container">
    <h2>Siparişler</h2>
    <p>Sipariş listesi aşağıdadır.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td><a class="btn btn-danger">Hazırlanıyot</a></td>
            </tr>
        </tbody>
    </table>
</div>
<center>
    <a class="btn btn-danger" href="/restorant/cikisyap">Cikis yap</a>
</center>