@using YemekSepeti.Models
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>@ViewData["restorant"] Restoranının Menüsü</h2>
</center>

<div class="container">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["urunler"] as List<Urunler>)
            {
                <tr>
                    <td>@item.YemekAdi</td>
                    <td>@item.Fiyat TL</td>
                    <td><center><a href="/users/SiparisOlustur?urunadi=@item.YemekAdi&urunfiyat=@item.Fiyat&urunid=@item.Id" class="btn btn-danger">Sipariş Ver</a></center></td>
                </tr>
            }
        </tbody>
    </table>
</div>